@import url(https://fonts.googleapis.com/css?family=Candal);

* {
  margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Candal', sans-serif;
  font-size: 36px;
  padding-top: 5px;
}

h2 {
  text-align: center;
  font-family: 'Candal', sans-serif;
  font-size: 20px;
}

#dealer-section, #player-section {
  width: 100%;
  height: 300px;
}

#dealer-section {
  background-color: rgb(9,88,7);
  color: white;
}

#player-section {
  background-color: rgb(9,88,7);
  border-top: dotted 2px gray;
  color: white;
}

#game-section {
  width: 100%;
  min-height: 175px;
  height: auto;
  background-color: lightcyan;
  border: solid 2px black;
}

#player-hand, #dealer-hand {
  text-align: center;
  margin: 10px 0 10px 0;
}

#split-left, #split-right {
  width: 48%;
  min-height: 100%;
  display: inline-block;
  overflow: auto;
  vertical-align: top;
}

#player-score, #dealer-score {
  text-align: center;
}

.highlight {
  border: dotted 2px cyan;
}

#game-flow {
  width: 30%;
  height: 175px;
  padding: 0 10px 0 10px;
  display: inline-block;
  vertical-align: top;
  border-right: solid 2px black;
  overflow: auto;
}

#game-controls {
  width: 30%;
  height: 175px;
  padding: 0 10px 0 10px;
  display: inline-block;
  vertical-align: top;
  border-right: solid 2px black;
  text-align: center;
}
#bank {
  width: 30%;
  height: 175px;
  padding: 0 10px 0 10px;
  display: inline-block;
  vertical-align: top;
}

#game-prompts {
  margin-top: 20px;
}

#bank-vault{
  margin-top: 20px;
}

#buttons {
  margin-top: 20px;
}

.control {
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #39a5ed;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.control:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.hidden {
  display: none;
}

.prompt {
  margin-bottom: 10px;
}

.card {
  width: 142px;
  height: 204px;
  display: inline-block;
  z-index: 3;
  background-size: cover;
  margin: 0 auto;
  animation-name: dealCard;
  animation-duration: .65s;
}

@keyframes dealCard {
  0% {transform: translateX(2000px);}
  100%{transform: translateX(0px);}
}

.score {
}

/*PLAYING CARD SPRITES*/
.ace-clubs {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -163px -37px;
}

.two-clubs {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -308px -37px;
}

.three-clubs{
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -452px -37px;
}

.four-clubs {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -594px -37px;
}

.five-clubs {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -737px -37px;
}

.six-clubs {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -880px -37px;
}

.seven-clubs {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1023px -37px;
}

.eight-clubs {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1166px -37px;
}

.nine-clubs {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1308px -37px;
}

.ten-clubs {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1451px -37px;
}

.jack-clubs {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1594px -37px;
}

.queen-clubs {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1737px -37px;
}

.king-clubs {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1880px -37px;
}

.ace-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -163px -243px;
}

.two-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -308px -243px;
}

.three-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -452px -243px;
}

.four-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -594px -243px;
}

.five-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -737px -243px;
}

.six-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -880px -243px;
}

.seven-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1023px -243px;
}

.eight-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1166px -243px;
}

.nine-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1308px -243px;
}

.ten-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1451px -243px;
}

.jack-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1594px -243px;
}

.queen-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1737px -243px;
}

.king-diamonds {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1880px -243px;
}

.ace-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -163px -448px;
}

.two-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -308px -448px;
}

.three-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -452px -448px;
}

.four-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -594px -448px;
}

.five-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -737px -448px;
}

.six-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -880px -448px;
}

.seven-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1023px -448px;
}

.eight-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1166px -448px;
}

.nine-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1308px -448px;
}

.ten-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1451px -448px;
}

.jack-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1594px -448px;
}

.queen-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1737px -448px;
}

.king-hearts {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1880px -448px;
}

.ace-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -163px -653px;
}

.two-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -308px -653px;
}

.three-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -452px -653px;
}

.four-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -594px -653px;
}

.five-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -737px -653px;
}

.six-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -880px -653px;
}

.seven-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1023px -653px;
}

.eight-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1166px -653px;
}

.nine-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1308px -653px;
}

.ten-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1451px -653px;
}

.jack-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1594px -653px;
}

.queen-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1737px -653px;
}

.king-spades {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -1880px -653px;
}

.card-back {
  background: url('imgs/svg-cards-spaced-sm.svg') no-repeat -457px -859px;
}

